In [23]:
import pandas as pd
import re

In [41]:
# get today's over/under for each team from draftkings
df = pd.read_html("https://sportsbook.draftkings.com/leagues/basketball/nba")

# potential problem could occur if draft kings changes format of their html
df = df[0]

In [42]:
# function to separate date from team name
def split_team_name(team_and_date_long_string):
    """Splits up the messy "tomorrow" column from our scraped Draft Kings Data.
    Returns time, team abbreviation, and team name."""


    # find date - should be any characters ending with AM or PM
    # NOTE: game times appear to be 5 hours ahead of EST
    # not an issue unless we choose to implement this as a feature
    time = re.search(r'(.+)(AM|PM)', team_and_date_long_string)
    if not time:
        # if game is in progress, ignore
        return None, None, None
    
    time = time[0]
    # find team name - all characters after the date
    team = re.search(r'(.+)(AM|PM)(.+)', team_and_date_long_string)[3]

    # split abbreviation and team name
    team_abbrev = team.split(' ')[0]
    team_full = team.split(' ')[1]

    return time, team_abbrev, team_full

df[["time", "team_abbrev", "team_full"]] = df.apply(lambda x: split_team_name(x["Today"]), axis=1, result_type="expand")
df.dropna(inplace=True)

In [46]:
df

,Today,Spread,Total,Moneyline,time,team_abbrev,team_full
2,11:10PMLA Lakers,-5−115,O 233.5−110,−205,11:10PM,LA,Lakers
3,11:10PMDET Pistons,+5−105,U 233.5−110,+175,11:10PM,DET,Pistons
4,11:10PMCHA Hornets,+10.5−110,O 220−105,+410,11:10PM,CHA,Hornets
5,11:10PMPHI 76ers,-10.5−110,U 220−115,−520,11:10PM,PHI,76ers
6,11:10PMTOR Raptors,-6.5−105,O 223.5−110,−245,11:10PM,TOR,Raptors
7,11:10PMORL Magic,+6.5−115,U 223.5−110,+205,11:10PM,ORL,Magic
8,11:10PMSAC Kings,+2−110,O 231−110,+110,11:10PM,SAC,Kings
9,11:10PMNY Knicks,-2−110,U 231−110,−130,11:10PM,NY,Knicks
10,11:40PMCHI Bulls,+2.5−105,O 235−110,+125,11:40PM,CHI,Bulls
11,11:40PMATL Hawks,-2.5−115,U 235−110,−145,11:40PM,ATL,Hawks

In [27]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [39]:
# this cell is ideal, but times out
# from nba_api.stats.endpoints import leaguegamefinder

# # Query for games where the Celtics were playing
# gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id, headers=headers)
# # The first DataFrame of those returned is what we want.
# games = gamefinder.get_data_frames()[0]

# # filter games df to only current nba season

# games.head()

In [36]:



# scrape from basketball reference
df = pd.read_html("https://www.basketball-reference.com/teams/BOS/2023_games.html")

In [38]:
df[0]

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Tue, Oct 18, 2022",7:30p,NaN,Box Score,NaN,Philadelphia 76ers,W,NaN,126,117,1,0,W 1,NaN
1,2,"Fri, Oct 21, 2022",7:30p,NaN,Box Score,@,Miami Heat,W,NaN,111,104,2,0,W 2,NaN
2,3,"Sat, Oct 22, 2022",7:00p,NaN,Box Score,@,Orlando Magic,W,NaN,126,120,3,0,W 3,NaN
3,4,"Mon, Oct 24, 2022",8:00p,NaN,Box Score,@,Chicago Bulls,L,NaN,102,120,3,1,L 1,NaN
4,5,"Fri, Oct 28, 2022",7:30p,NaN,Box Score,NaN,Cleveland Cavaliers,L,OT,123,132,3,2,L 2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,79,"Tue, Apr 4, 2023",8:00p,NaN,NaN,@,Philadelphia 76ers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,80,"Wed, Apr 5, 2023",7:30p,NaN,NaN,NaN,Toronto Raptors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,G,Date,Start (ET),NaN,NaN,NaN,Opponent,NaN,NaN,Tm,Opp,W,L,Streak,Notes
84,81,"Fri, Apr 7, 2023",7:30p,NaN,NaN,NaN,Toronto Raptors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,82,"Sun, Apr 9, 2023",1:00p,NaN,NaN,NaN,Atlanta Hawks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN